.header {
    margin-top: 15px;
    color: white;

    display: flex;
    justify-content: flex-end;
    position: relative;
}

.headerSpan {
    color: white;
    width: 11px;
    height: 11px;
    font-size: 10px;
    display: flex;
    position: absolute;
    background-color: rgb(19, 167, 212);
    align-items: center;
    justify-content: center;
    top: 11px;

    border-radius: 1px;


}